.terms_replace {
  padding: 0;
  position: relative;
}

.terms_replace_none {
  cursor: default;
}

.terms_replace_title {
  cursor: pointer;
  font-style: italic;
  display: inline;
  font-weight: normal;
  text-decoration: underline;
}

.terms_replace_description {
  display: none;
  z-index: 1000;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: -100px;
  left: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  font-weight: normal;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
