{# high_tax_terms/templates/high_tax_terms.html.twig #}
<span class="terms_replace">
    <span class="terms_replace_title">
        {{ tax_title }}
    </span>
    {% if tax_description %}
        <span class="terms_replace_description">
        {{ tax_description }}
    </span>
    {% endif %}
</span>